openai_key.txt

**/*.pyc

src/eval_each.sh
src/result.txt
src/testout.txt
src/math_baseline_pt123_n15.out
outputs_dgx/
outputs_dgx_gpt4turbo/

#  local only
__pycache__/
seonil_scripts/
.DS_Store
# .vscode/
# launch.json

# dbgoutdir/
src/tonight.sh
src/outputs/
src/prompt_construction_src/tests/*.jsonl
src/prompt_construction_src/tests/*.json
src/gather_results.md
src/testout.md
src/result_table.md

math_hacking.ipynb
dataset/MATH/math_train/
compare.ipynb
*.ipynb
