openai_key.txt

**/*.pyc

src/eval_each.sh
src/result.txt


#  local only
__pycache__/
seonil_scripts/
.vscode/
launch.json

# dbgoutdir/


src/prompt_construction_src/tests/*.jsonl
src/prompt_construction_src/tests/*.json